/*
TODO: Visa lärare och klassen https://www.cdnplanet.com/blog/faster-google-webfonts-preconnect/
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/** font-family: 'Roboto Slab', serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** Beginning of help classes */

html,
body {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 1rem;
	/*! Standard browser font-size = 16px (rem = standard font-size * number before rem) */
	color: #626262;
}

a {
	color: #2baaec;
	text-decoration: none;
}

a:hover {
	color: #25e6c8;
}

p {
	font-size: 1.125rem;
}

h1 {
	font-size: 3rem;
	/*! Font-size changed to 48px "was 60 in design" to look better on screens.*/
}

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.75rem 2.5rem;
	border-radius: 0.5rem;
}

.container {
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}

.collapse {
	display: none;
}

.top-menu .container,
.main-menu .container {
	display: flex;
	justify-content: space-between;
}

/** End of help classes */

/*! Beginning of Specific class changes */
/** Top menu below this line */

.top-menu {
	border-bottom: 1px solid #707070;
	padding: 0.5rem;
}

.top-menu .container .open-time i {
	color: #2baaec;
	margin-right: 0.25rem;
	font-size: 1.2rem;
}

.top-menu .container .social-media a {
	margin: 0 0.5rem;
}

/** Main menu below this line */

.main-menu {
	margin: 1.2rem 0;
	padding: 0.5rem;
}

.main-menu-nav {
	display: flex;
	flex-direction: column;
}

.main-menu .container {
	align-items: center;
}

.main-menu-nav a {
	color: #363636;
	padding: 0 0.8rem;
}

.main-menu-mobile {
	font-size: 2.5rem;
	color: #2baaec;
	background-color: transparent;
	border: 1px solid transparent;
}

.btn-primary {
	color: #fff;
	background-color: #25e6c8;
	font-weight: bold;
}

.btn-primary:hover {
	background-color: #2baaec;
}

/*! End of specific class changes */

/*! Start of specific id /to/ class changes */

/** Showcase starts here */

#showcase {
	background: #dedede;
}

#showcase .container {
	display: flex;
	justify-content: space-between;
}

#showcase .container img {
	height: 500px;
	margin: 1rem;
}

#showcase .container .content {
	align-self: center;
	margin-left: 4rem;
}

#showcase .container .content h1 {
	color: #363636;
	font-family: 'Roboto Slab', serif;
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.1;
}

#showcase .container .content p {
	font-size: 0.9rem;
	margin: 2.5rem 0;
}

/** Showcase ends here */

/*! End of specific id /to/ class changes */

/*? Start of mediaqueries */

@media (min-width: 768px) {
	.main-menu-nav {
		flex-direction: row;
	}

	.main-menu-link {
		padding: 0 0.5rem;
	}

	.collapse:not(.show) {
		display: flex;
	}

	.main-menu-mobile {
		display: none;
	}

	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

/*? End of mediaqueries */
