/*
TODO: Kolla så all befintlig design är rätt i storlek med desing skissen.
TODO: Logo ska vara klick bar och reloada till hem.
TODO: Fråga Joakim om "h2, :is(article, aside, nav, section) h1 {" - Varför stylas den som en h2?
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/** font-family: 'Roboto Slab', serif; */

/*! This ensures that all browsers have 16px as default fontsize */
:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** Beginning of help classes */

html,
body {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #626262;
}

a {
	color: #2baaec;
	text-decoration: none;
}

a:hover {
	color: #25e6c8;
}

p {
	font-size: 1.125rem;
	color: #363636;
}

h1 {
	font-family: 'Roboto Slab', serif;
	color: #363636;
	font-weight: 400;
}

img {
	height: 550px;
	margin: 1rem 0 0;
	display: none;
}

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	/* background-color: transparent; */
	border: 1px solid transparent;
	padding: 0.75rem 2.5rem;
	border-radius: 0.5rem;
}

.container {
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}

.collapse {
	display: none;
}

.top-menu .container,
.main-menu .container,
#about-us .container {
	display: flex;
	justify-content: space-between;
}

/** End of help classes */

/*! Beginning of Specific class changes */
/** Top menu below this line */
.info {
	display: flex;
	justify-content: space-between;
}

.blue {
	color: #2baaec;
}

.top-menu {
	border-bottom: 1px solid #707070;
	padding: 0.5rem;
}

.top-menu .container .open-time i {
	color: #2baaec;
	margin-right: 0.25rem;
	font-size: 1.2rem;
}

.top-menu .container .social-media a {
	margin: 0 0.5rem;
}

/** Main menu below this line */

.main-menu {
	margin: 0.5rem 0;
	padding: 0.5rem;
}

.main-menu .logo img {
	display: flex;
	height: 100%;
}

.main-menu-nav {
	display: flex;
	flex-direction: column;
}

.main-menu .container {
	align-items: center;
}

.main-menu-nav a {
	color: #363636;
	padding: 0 0.8rem;
	font-size: 1.125rem;
}

.main-menu-mobile {
	font-size: 2.5rem;
	color: #2baaec;
	background-color: transparent;
	border: 1px solid transparent;
}

.btn-primary {
	color: #fff;
	background-color: #25e6c8;
	font-weight: bold;
	margin-bottom: 1rem;
}

.btn-primary:hover {
	background-color: #2baaec;
}

/** about-us below this line */

.patients {
	display: none;
}

/*! End of specific class changes */

/*! Start of specific id /to/ class changes */

/** Showcase starts here */

#showcase {
	background: #dedede;
}

#showcase .container {
	display: flex;
	justify-content: space-between;
}

#showcase .container .content {
	margin: 1rem 0;
}

#showcase .container .content h1 {
	line-height: 1.1;
	margin-top: 0.4rem;
	/*! Deviated from the design by -10px.  */
	font-size: 2rem;
}

#showcase .container .content p {
	margin: 1.5rem 0;
}
/** Showcase ends here */

/** About-us starts here */

#about-us .container .content {
	margin: 1.5rem 0;
}

#about-us .container img {
	margin-top: auto;
}

#about-us .container .content h1 {
	/*! Deviated from the design by -10px.  */
	font-size: 1.875rem;
}

#about-us .container .content .info-count h1 {
	font-size: 1.875rem;
	color: #2baaec;
}

/** About-us ends here */

/** Services starts here */

#services {
	background: #f7f7f7;
}

#services .container {
	display: flex;
	justify-content: space-between;
}

#services .container .content {
	text-align: center;
	margin: 6rem auto;
}

#services .container .content .green-line {
	height: 0.25rem;
	width: 50vh;
	margin: 0 auto;
	background-color: #25e6c8;
}

#services .container .content h1 {
	font-size: 1.875rem;
	margin-bottom: 0.5rem;
}

#services .container .content p {
	margin: 2rem 1rem;
}

#services .container .content .list img {
	display: flex;
	margin: auto;
	height: 3.75rem;
	width: 3.75rem;
}

#services .container .content .list .service-card {
	background: #ffffff;
	margin: 0.6rem;
}

#services .container .content .list .service-card .image-box {
	display: flex;
	margin: 2rem auto;
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 4rem;
	background: #25e6c8;
}

#services .container .content .list .service-card .image-box:hover {
	background: #2baaec;
}

#services .container .content .list {
	margin-top: 2rem;
}

/** Services ends here */

/*! End of specific id /to/ class changes */

/*? Start of mediaqueries */

@media (min-width: 768px) {
	.main-menu-nav {
		flex-direction: row;
	}

	.main-menu-link {
		padding: 0 0.5rem;
	}

	.collapse {
		display: flex;
	}

	.main-menu-mobile {
		display: none;
	}

	.container {
		max-width: 720px;
	}

	.patients {
		display: block;
	}

	#showcase .container .content {
		margin: 1.25rem 0 1rem;
	}

	#about-us .container .content {
		margin: 3rem 0;
	}

	/** Services 2 per row */

	#services .container .content .list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 3rem;
	}

	#services .container .content .list .service-card {
		flex-grow: 1;
		width: 50%;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	/** Showcase */
	#showcase .container img {
		display: flex;
		height: 425px;
	}

	#showcase .container .content {
		align-self: center;
		margin: 3rem 0 0 6rem;
	}

	#showcase .container .content h1 {
		font-size: 2.25rem;
	}

	#showcase .container .content p {
		margin: 2.5rem 0;
	}

	/** About-us */
	#about-us .container img {
		display: none;
	}

	#about-us .container .content .info .info-count {
		width: 85%;
	}

	#about-us .container .content {
		margin: 4rem 0;
	}

	/** Services 3 per row*/
	#services .container .content .list .service-card {
		width: 31.5%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	#showcase .container img,
	#about-us .container img {
		display: flex;
	}

	#showcase .container .content {
		align-self: center;
		margin: 3rem 0 0 6rem;
	}

	#showcase .container .content p {
		margin: 2.5rem 0;
	}

	#showcase .container .content h1 {
		font-size: 3rem;
		font-weight: normal;
	}

	#about-us .container {
		margin-top: 3rem;
	}

	#about-us .container .content {
		margin-right: 1rem;
		padding: 0;
	}

	#about-us .container img {
		height: 620px;
	}

	#about-us .container .content .green-line {
		height: 0.25rem;
		margin: 1rem 0 1.5rem;
		background-color: #25e6c8;
	}
}

/*? End of mediaqueries */
