/*
TODO: Skapa hjälpklasser, mediaqueries.
TODO: Visa lärare och klassen https://www.cdnplanet.com/blog/faster-google-webfonts-preconnect/
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/** font-family: 'Roboto Slab', serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** Beginning of help classes */

html,
body {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 1rem;
	color: #626262;
}

.container {
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}

a {
	color: #2baaec;
	text-decoration: none;
}

a:hover {
	color: #25e6c8;
}

.navbar {
	margin: 1.2rem 0;
	padding: 0.5rem;
}

.collapse {
	display: none;
}

/** End of help classes */

/*! Beginning of Specific class changes */

.navbar-top {
	border-bottom: 1px solid #707070;
	padding: 0.5rem;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
}

.navbar-top .container,
.navbar .container {
	display: flex;
	justify-content: space-between;
}

.navbar .container {
	align-items: center;
}

.navbar-top .container .open-time i {
	color: #2baaec;
	margin-right: 0.25rem;
	font-size: 1.2rem;
}

.navbar-top .container .social-media a {
	margin: 0 0.5rem;
}

.navbar-nav a {
	color: #000;
	padding: 0 0.8rem;
}

.navbar-mobile {
	font-size: 2.5rem;
	color: #2baaec;
	background-color: transparent;
	border: 1px solid transparent;
}

/*! End of specific class changes */

/*! Start of specific id /to/ class changes */

/*! End of specific id /to/ class changes */

/*? Start of mediaqueries */

@media (min-width: 768px) {
	.navbar-nav {
		flex-direction: row;
	}
	.nav-link {
		padding: 0 0.5rem;
	}
	.collapse:not(.show) {
		display: flex;
	}
	.navbar-mobile {
		display: none;
	}
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

/*? End of mediaqueries */
